body {
    font-size: 105%;
    font-family: "Helvetica", "Verdana", sans-serif, serif;
}

h1 {
    font-size: 116%;
    font-weight: bold;
}

table {
    width: 98%;
    margin: 1.5%;
    *margin: 1%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

table td {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0.5% 0.25%;
}

table th, tr {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0.5%;
    text-align: left;
}
table th {
    background: #aaa;
}

#index, #new {
    border: 1px solid #000;
    width: 75%;
    margin: 2%;
}

#back_link {
    margin: 2%;
}

#nav {
    border: 1px solid #000;
    margin-top: 2%;
}

#new_links {
    margin-top: 10%;
    *margin-top: 5%;
}

.yui-u p {
    margin-bottom: 5%;
    margin-left: 1%;
}

.yui-u select, .yui-u input {
    width: 15em;
}

.yui-u textarea, .yui-u input[type='text'] {
    width: 20em;
}

.yui-u textarea {
    height: 20em;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
