body {
    font-size: 105%;
    font-family: "Gill Sans MT", "Helvetica", sans-serif, serif;
    background: url(../images/bug-flower-large.gif) repeat-y center right;
    float:left;
}

h1 {
    font-size: 116%;
    font-weight: bold;
}

table {
    width: auto;
    margin: 1.5%;
    *margin: 1%;
    border-left: 1px solid #593639;
    border-top: 1px solid #593639;
}

table td {
    border-left: 1px solid #593639;
    border-top: 1px solid #593639;
    padding: 0.5% 0.25%;
    width: 10%;
    *border-right: 1px solid #593639;
    *border-bottom: 1px solid #593639;
}

table th, tr {
    border-right: 1px solid #593639;
    border-bottom: 1px solid #593639;
    padding: 0.5%;
    text-align: left;
    width: 10%;
}
table th {
    background: #aaa;
}

p {
    margin-bottom: 5%;
    margin-left: 1%;
}

select, input {
    width: 15em;
}

textarea, input[type='text'] {
    width: 20em;
}

textarea {
    height: 20em;
}


#container {
    
}

#header, #main {
    float: left;
    clear: both;
    width: 100%;
    /*border: 1px solid #000;
    background: url(../images/bug-flower.gif) no-repeat 0 0;*/
}

#header img, #header h1 {
    float: left;
    margin-left: 5%;
    /*border: 1px solid #000;*/
}

#header h1 {
    width: 60%;
    font-size: 250%;
    text-align: left;
    color: #733944;
}

#nav {
    /*border: 1px solid #000;*/
    margin-top: 2%;
    float: left;
    width: 50%;
}

#nav ul li {
    display: inline;
}

#new_links {
    margin-right: 5%;
    *margin-right: 5%;
}


#container {
    float: left;
    width: 73.076em;
    margin: auto 10px;
    *width:71.25em;
    background: transparent;
    /*border: 1px dashed #f00;*/
}

#index, #new, .index {
    background: #733944;
    color: #fff;
    border: 1px solid #000;
    width: 80%;
    margin: 0.5% 2% 2% 5%;    
    padding: 0;
    float: left;
    *width: 85%;
    *margin: 2% 2% 2% 3%;
}

#index th, .index th {
    background: #8C6868;
}

#index a, #index td a, .index a, .index td a {
    color: #fff;
}

#index a:hover, #index td a:hover, .index a:hover, .index td a:hover {
    background: #A63F52;
}

#index a:visited, #index td a:visited, .index a:visited, .index td a:visited {
    background: #444;
    color: #aaa;
}

#new h1, #new label {
    color: #fff;
    background: #6b3a41;
    float: left;
}

#new .form {
    width: 100%;
    float: left;
    margin-top: 5%;
}

#new .form div {
    float: left;
}

#new .form div.second_div {
    float: left;
    margin: 0 5%;
}

#back_link {
    margin: 0;
    padding: 0;
    float: right;
}

.project td, .project tr, .project th {
    width: 20%;
}


#show .links, #edit .links {
    float: left;
    margin: 0 1% 0 0;
    padding: 0;
}

#bug_display {
    float: left;
    background: #733944;
    color: #fff;
    margin-left: 4.5em;
    padding: 0;
}

#show h2, #edit h2 {
    font-size: 118%;
    font-weight: bold;
    margin-bottom: 2em;
}

#bug_display h4 {
    font-size: 107%;
    font-weight: bold;
    color: #bbb;
    margin-bottom: .5em;
    text-align:left;
}

#bug_display p {
    text-align: left;
}

#bug_display small {
    float: left;
    font-variant: small-caps;
    font-style: italic;
}

#edit_form #top, #edit_form #bottom {
    float: left;
    border-left: 1px dashed #000;
    padding-left: 2% ;
}

#edit_form #top {
    margin-right: 1%;
}

#edit_form label {
    
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.Critical {
  background-color: #C01919;
}

.High {
  background-color: #D35820;
}

.Medium {
  background-color: #F4D519;
}

.Low {
  background-color: #82C019;
}
