<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= @page_title %></title>
	<meta name="author" content="Aaron Smith">
	<%= stylesheet_link_tag 'scaffold' %>	
  <%= stylesheet_link_tag 'main' %>
</head>
<body>
<div id="container">	
	<small class='pagename'><%= "#{get_user_display} - #{get_company_name}" %></small>
	<h1 id="pageName">
		<%= @page_title %>
	</h1>
<%= render_file('/navs/topnav.rhtml') %>
<%= @content_for_layout %>
<%= render_file('/navs/sidebar.rhtml') %>
<%= render_file('/layouts/footer.rhtml') %>