<div class="index">
  <h1>Currently added users</h1>
  
  <table>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>User Group(s)</th>
      <th></th>
    </tr>
    <%= render :partial => 'user', :collection => @users %>
  </table>
  <br />
  <%= link_to 'New User', new_user_path %>
</div>