		<div id="content">
		  <div class="user">
		    <div class="box">
					<% form_tag :action => 'update', :id => @user do %>
					  <%= render :partial => 'form' %>
					  <%= submit_tag 'Edit' %>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
</div>



