<div id="content">
  <div class="user">
    <div class="box">
		<% form_tag :action => 'create' do %>
		  <%= render :partial => 'form' %>
		  <%= submit_tag "Create" %>
		<% end %>
				</div>
		  </div>
		</div>
	</div>
</div>


