<div id="project_display">
    <h1><%= @project.name %></h1>
    <table>
        <tr>
            <th>Bug</th>
            <th>Severity</th>
            <th>Assigned To</th>
            <th>Logged By</th>
            <th>Log Dated</th>
            <th>Last Update</th>
            <th>Fixed?</th>
            <th></th>
        </tr>
        <%= render :partial => 'bugs/bug', :collection => @bugs %>
    </table>
</div>