<div class="index">
  <h2>Current projects</h2>
  <table class="project">
    <tr>
      <th>Project Title</th>
      <th># Of Issues</th>
      <th>Status</th>
      <th>Launch Date</th>
      <% if logged_in? -%>
        <th></th>
      <% end -%>
    </tr>
    <%= render :partial => 'project', :collection => @projects %>
  </table>
</div>