<div id="index" class="yui-b">
    <h1>Current issues</h1>
    <div>
        <%= link_to 'Fixed', :fixed => '1' %> | <%= link_to 'Not Fixed', :action => 'index' %>
    </div>
    <table>
        <tr>
            <th>Bug</th>
            <th>Severity</th>
            <th>Logged By</th>
            <th>Log Dated</th>
            <th>Last Update</th>
            <th>Fixed?</th>
            <th></th>
        </tr>
        <%= render :partial => 'bug', :collection => @bugs %>
    </table>
</div>