<%= error_messages_for 'project' %>

Project Name:<br/>
<%= text_field 'project', 'name'  %><br/><br/>
Users:<br/>
<select name="forums[]" multiple="10" size=10 class='large'>
  <option value="4" selected="selected">Peter Mlodzik</option>
	<option value="3" selected="selected">David Hasselhoff</option>
</select><br /><br/>